.cover-main {
	background: #2b2d34 url(../img/main-final.jpg) center;
    background-size: cover;
    min-height: 40rem;
    height: auto;
    border-radius: 0;
    width: 100%;
    color: #fff;
    padding-top: 1rem;
}

.cover-container {
	display: table;
    height: 100%;
    min-height: 40rem;
    margin: 0 auto;
}

.basic-content {
    padding: 5rem 0;
}

.intense {
	cursor: pointer;
	cursor: url('../img/plus_cursor.png') 50 50, pointer;
	cursor: -webkit-image-set(url('../img/plus_cursor.png') 2x), auto;
}

.filter-control {
    margin-bottom: 5px;
}

.details .label {
    font-size: 0.8em;
    text-transform: uppercase;
}

.details .value {
    font-weight: 600;
    margin-bottom: 40px;
}

.highlight {
    font-weight: 700;
    font-size: .9rem;
    border: 0.2rem #5cb85c solid;
    background: none;
    padding: 1.1rem 1.1rem;
    text-transform: uppercase;
    border-radius: .3rem;
}

.highlight .price {
    font-size: 36px;
}

.highlight .price-label {
    color: #ccc;
    font-size: 30px;
    vertical-align: text-top;
}

.table-rooms tbody tr td:first-child {
    padding-left: 0.8rem;
}